.header{
    background-color: black !important;
    color: white !important;
    font-size: x-large;
    height: 5em;
    text-align: center;
}
.header img{
    float: left;
    margin: 5px;
    height: 3em;
}

.header p{
    padding-top: 5px;
    font-size: x-large;
    font-family: Montserrat;
}

.header .k-button{
    color: white;
    background: transparent;
    display: flex;
    flex-wrap: wrap;
}

.header .k-button > span{
    flex: 1 0 100%;
}
