.setting-drawer{
    color: white;
    background: #525252 !important;
}

.setting-drawer-item{
    background-color: #3a3a3a;
    border-radius: .5em;
    height: 3.5em;
    color: white;
    margin: 9.5px;
    position: relative;
    text-align: left;
    cursor: pointer;
}

.setting-drawer-item.k-drawer-item.k-state-selected {
    background-color: white;
    color: #525252;
}

.setting-drawer-item > span > span{
    margin-left: 1.5em;
    margin-top: .7em;
}
.setting-drawer-item > span > p{
    margin-left: 3.5em;
    margin-top: .5em;
}

.setting-drawer-item:hover {
    color: #525252;
    background-color: white;
}
.setting-drawer .k-drawer{
    background: transparent;
}

.setting-item {
    background-color: #525252;
    width: 100%;
    height: 3.5em;
    color: white;
    position: relative;
    text-align: left;
    border-bottom: 0.5px solid #979797;
    cursor: pointer;
    font-weight: bold;
}

.setting-item:hover {
    background-color: white;
    color: #707070;
}

.pane-content {
    padding: 0 10px;
}

/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
    float: right;
    margin-right: 25%;
}

/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #FF0000;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: #00800F;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

.card-button {
    color: white !important;
}
.card-button:hover {
    background-color: white !important;
    color: #3d3d3d !important;
}

card-button-selected {
    color: black !important;
}
card-button-selected {
    background-color: black;
    color: white;
}